/* === CSS Variables === */

:root {
  --dark: #000000;
  --light: #fdd935;
  --button-add: #4ac6d2;
  --button-add-active: #00abe8;
  --button-save: #4ecb4a;
  --button-save-active: #4bac3f;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ecfdf5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* === Heading === */

.heading {
  width: 20em;
  padding: 1.2em;
  background-color: var(--light);
  color: var(--dark);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.heading h1 {
  font-size: 2rem;
  line-height: 1;
}

/* === Container === */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.9em;
  width: 20em;
  padding: 1.1em;
  background-color: var(--dark);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.container h2,
h3,
p {
  color: var(--light);
  text-align: center;
  text-shadow: 5px 5px 10px rgba(61, 15, 30, 0.2);
}

.container h2 {
  font-size: 1.6rem;
  padding: 0.2em;
}

.container h3 {
  font-size: 2.5rem;
  width: 2.2em;
  background-color: var(--light);
  color: var(--dark);
  padding: 0.2em;
}

.container p {
  font-size: 1.1rem;
}

/* === Buttons === */

.buttons {
  display: flex;
  gap: 0.3em;
}

.buttons > button {
  border: none;
  background-color: transparent;
}

.add-btn {
  filter: invert(71%) sepia(85%) saturate(308%) hue-rotate(134deg) brightness(84%) contrast(96%);
}

.add-btn:active {
  filter: invert(62%) sepia(94%) saturate(3913%) hue-rotate(163deg) brightness(98%) contrast(101%);
  transform: scale(0.96);
}

.save-btn {
  filter: invert(68%) sepia(9%) saturate(3372%) hue-rotate(70deg) brightness(103%) contrast(73%);
}

.save-btn:active {
  filter: invert(70%) sepia(11%) saturate(2838%) hue-rotate(65deg) brightness(82%) contrast(75%);
  transform: scale(0.96);
}

/* === textarea === */

#save-el {
  border: none;
  border-radius: 15px;
  background-color: var(--light);
  color: var(--dark);
  font-family: inherit;
  padding: 0.3em;
  font-family: 0.6rem;
}

#save-el:focus {
  outline: none;
}

/* === Media Queries === */

@media (max-width: 667px) {
  html {
    font-size: 12.8px;
  }

  .container h3 {
    width: 2.5em;
  }
}
